<template>
  <div class="roomChoseSeat">
    <el-card class="box-card" v-loading="isLoading">
      <div slot="header" class="clearfix">
        <span>选择座位</span>
      </div>
      <div class="seatsList" ref="seatsList">
        <ul v-for="(lines,index) in seats" :key="index">
          <li v-for="seat in lines" :key="seat.id">
            <el-button
              @click="handleChoseSeat(seat, $event)"
              :type="seatsButtonStyle[seat.status + 1]"
              :disabled="seat.status === 1 ? false : true"
              :style="buttonSize"
            />
          </li>
        </ul>
      </div>
      <el-divider></el-divider>
      <div class="seatsListTips">
        <ul>
          <li>
            <el-button :type="seatsButtonStyle[0]" :disabled="true" />空
          </li>
        </ul>
        <ul>
          <li>
            <el-button :type="seatsButtonStyle[1]" :disabled="true" />不可选
          </li>
        </ul>
        <ul>
          <li>
            <el-button :type="seatsButtonStyle[2]" :disabled="true" />可选
          </li>
        </ul>
        <ul>
          <li>
            <el-button
              :type="seatsButtonStyle[2]"
              :disabled="true"
              style="background-color: #67c23a;"
            />已选中
          </li>
        </ul>
      </div>
    </el-card>
  </div>
</template>

<script>
export default {
  name: "RoomChoseSeat",
  props: ["id", "postMessage"],
  data() {
    return {
      isLoading: true,
      seats: {},
      seatsMapX: 0,
      seatsMapY: 0,
      seatsButtonStyle: ["info", "danger", "default"],
      chosedSeat: -1,
      chosedtimeLinkd: new Array(96),
      buttonSize: {
        width: "15px",
        height: "15px",
        margin: '0',
        padding: '0'
      }
    };
  },
  created() {
    let url = "http://rap2.taobao.org:38080/app/mock/246761";
    let config = {
      headers: {
        Authorization: this.$cookies.get("token")
      },
      emulateJSON: true
    };
    this.$http.get(url + "/room/" + this.id + "/seats", config).then(res => {
      this.seatsMapX = res.body.body.seatsMap[0];
      this.seatsMapY = res.body.body.seatsMap[1];
      this.buttonSize.width = ((this.$refs.seatsList['clientWidth']/ this.seatsMapX) - 2) + 'px';
      this.buttonSize.height = this.buttonSize.width;
      if (this.seatsMapX * this.seatsMapY != res.body.body.seats.length) {
        this.$message({ message: "数据出错,请返回重试", type: "error" });
        return;
      }
      for (let i = 0; i < this.seatsMapY; i++) {
        this.seats[i] = res.body.body.seats.slice(
          i * this.seatsMapX,
          (i + 1) * this.seatsMapX
        );
      }
      this.parseTime(
        this.$parent.postMessage["startTime"],
        this.$parent.postMessage["endTime"]
      );
      this.checkStatus();
      this.isLoading = false;
    });
  },
  methods: {
    checkStatus() {
      for (let i = 0; i < this.seatsMapY; i++) {
        for (let j = 0; j < this.seatsMapX; j++) {
          let seat = this.seats[i][j];
          if (seat["status"] == 1) {
            let tmpLink = new Array(96);
            for (let k = 0; k < 4; k++) {
              let timeLink = seat["timeLink"][k];
              //0011 -> 0011 % 2 != 0 true
              //0011 >> 1 -> 0001 -> 0001 % 2 != 0 true
              //0001 >> 1 -> 0000 -> 0000 % 2 != 0 false
              //0000 >> 1 -> 0000 % 2 != 0 false
              //1 is true 0 is false
              //make sure never overflow
              timeLink = timeLink & 16777215;
              let g = k * 24;
              for (; g < (k + 1) * 24; g++) {
                if (timeLink % 2 != 0) {
                  tmpLink[g] = true;
                } else {
                  tmpLink[g] = false;
                }
                timeLink = timeLink >> 1;
              }
            }
            seat["boolenLink"] = tmpLink;
            // console.log(tmpLink);
            // console.log(this.chosedtimeLinkd);
            // console.log(0 % 2 == 0);
            if (this.checkTimeAva(tmpLink)) {
            //   console.log("seat = " + seat["id"]);
            } else {
              seat["status"] = 0;
            }
          }
        }
      }
    },
    checkTimeAva(boolenLink) {
      for (let i = 0; i < boolenLink.length; i++) {
        // f && t -> f
        // t && t -> t
        // t && f -> f
        // f && f -> f
        if (
          (this.chosedtimeLinkd[i] && boolenLink[i]) == this.chosedtimeLinkd[i]
        ) {
          continue;
        } else {
          return false;
        }
      }
      return true;
    },
    parseTime(startTime, endTime) {
      let startHour = startTime.split(":")[0];
      let startMin = startTime.split(":")[1];
      let endHour = endTime.split(":")[0];
      let endMin = endTime.split(":")[1];
      let during = (endHour - startHour) * 4 + (endMin - startMin) / 15;
      let startTimeB = startHour * 4 + startMin / 15;
      for (let i = 0; i < this.chosedtimeLinkd.length; i++) {
        if (i < startTimeB) {
          this.chosedtimeLinkd[i] = false;
        } else if (i < startTimeB + during) {
          this.chosedtimeLinkd[i] = true;
        } else {
          this.chosedtimeLinkd[i] = false;
        }
      }
      console.log("chose time = " + this.chosedtimeLinkd);
    },
    handleChoseSeat(seat, event) {
      //   console.log(seat);
      this.chosedSeat = seat.id;
      //fuck Safari https://stackoverflow.com/questions/42758815/safari-focus-event-doesnt-work-on-button-element
      event.target.focus();
    }
  }
};
</script>

<style>
.seatsList {
  margin: auto;
  text-align: center;
}
.roomChoseSeat ul li {
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 2px;
  padding: 0;
}
.roomChoseSeat ul {
  margin: 0;
  padding: 0;
}

.roomChoseSeat .el-button:focus {
  background-color: #67c23a;
}
.roomChoseSeat .box-card {
  min-height: 20px;
}

.seatsListTips {
  display: block;
  margin-top: 20px;
  line-height: 25px;
}

.seatsListTips ul li{
  line-height: 25px;
  font-size: 16px;
}

.seatsListTips ul li button {
  width: 16px;
  height: 16px;
  margin: 0;
  margin-right: 5px;
  padding: 0;
}
</style>