<template>
    <div class="roomWaitCallback">
        <p>this is callback</p>
          <el-table
            v-loading="loading"
            text="正在为您占座"
            style="width: 100%">
            </el-table>
            {{ postMessage }}

    </div>
</template>

<script>
    export default {
        name: "RoomWaitCallback",
        props:['id', 'postMessage'],
        data() {
            return {
                loading: true
            }
        }
    };
</script>