<template>
  <div class="home">
    <ul id="rooms">
      <li v-for="item in rooms" :key="item.id">
        <router-link :to="{name: 'room', params: {id:  item.id }}">
          <el-button>
          <h1>{{ item.name }}</h1>
          <p>- {{ item.description }}</p>
            <p>开放时间: {{ item.startTime }} - {{ item.endTime }}</p>
            <p>状态：{{ item.status }}</p>
          </el-button>
        </router-link>
      </li>
    </ul>
    <Footer />
  </div>
</template>

<script>
// @ is an alias to /src
export default {
  name: 'Home',
  data() {
    return {
      rooms: [],
      message: ''
    }
  },
  created() {
    function formatTime(stamp){
      var date = new Date(stamp);
      let year = date.getFullYear();
      let month = date.getMonth();
      let day = date.getDate();
      let hour = date.getHours();
      let minute = date.getMinutes();
      if(minute == 0){
        minute = '00'
      }
      return year + '-' + month + '-' + day + ' ' + hour + ':' + minute;
    }
    let url = "http://rap2.taobao.org:38080/app/mock/246761";
    this.$http
    .get(url + "/room")
    .then(res => {
      this.rooms = res.body.body;
      for (let i = 0; i < this.rooms.length; i++) {
        //Check status
        let status = this.rooms[i].status;
        let now = new Date();
        if(status != 0) {
          this.rooms[i].status = "Disabled";
        }else {
          if (now < this.rooms[i].endTime) {
            this.rooms[i].status = "Available"
          }else{
            this.rooms[i].status = "Closed"
          }
        }
        this.rooms[i].startTime = formatTime(this.rooms[i].startTime);
        this.rooms[i].endTime = formatTime(this.rooms[i].endTime);

      }
      console.log(this.rooms);
      console.log(res.body);
    });
  }
}
</script>

<style scoped>
.home ul {
  display: block;
  text-align: left;
  padding-right: 25px;
  padding-left: 25px;
}
.home p {
  margin-top: 10px;
  margin-left: 5px;
  word-break:break-all; 
  white-space:pre-wrap;
  line-height: 20px;
}
.home h1 {
  font-size: 16px;
  color: #303133;
}
.home ul li {
  display: block;
  padding: 0px 5px;
}
.home button {
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
}
</style>
