/* eslint-disable no-case-declarations */
<template>
  <div class="banner">
    <el-menu
      :default-active="activeIndex"
      class="el-menu-demo"
      mode="horizontal"
      @select="handleSelect"
    >
      <el-menu-item index="0" style="float: left;">
        <i class="el-icon-back"></i>
      </el-menu-item>
      <el-menu-item index="1">{{ msg }}</el-menu-item>

      <el-submenu index="2" menu-trigger="click" v-if="checkCookie()" style="float: right;">
        <template slot="title">我的</template>
        <el-menu-item index="2-1">个人信息</el-menu-item>
        <el-menu-item index="2-2">全部订单</el-menu-item>
        <el-menu-item index="2-10">退出</el-menu-item>
      </el-submenu>
    </el-menu>
  </div>
</template>

<script>
export default {
  name: "Banner",
  data() {
    return {
      activeIndex: "1"
    };
  },
  props: {
    msg: String
  },
  methods: {
    handleSelect(key, keyPath) {
      console.log(key, keyPath);
      let url = "http://localhost:8080/api";
      switch (key) {
        case "0":
          this.$router.back();
          break;
        case "2-1":
          this.$router.push("/user");
          break;
        case "2-2":
          this.$router.push("/user/order");
          break;
        case "2-10":
          // eslint-disable-next-line no-case-declarations
          let path = "/user/logout";
          console.log(this.$cookies.get("token"));
          if (this.$cookies.get("admin") == 'true') {
            path = "/admin/logout";
          }
          console.log(this.$cookies.get("token"));  
          // eslint-disable-next-line no-case-declarations
          let config = {
            headers: {
              Authorization: this.$cookies.get('token'),
            }
          };
          console.log(config);
          this.$http.get(url + path,config).then(res => {
            if (res.body.code === 200) {
              this.$message("退出成功");
            } else {
              this.$message(res.body.body);
            }
          });
          this.$cookies.remove("token");
          this.$cookies.remove("admin");
          this.$router.push("/login");
          console.log("Logout");
          break;
        default:
          console.log("default? 不存在的");
          break;
      }
    },
    checkCookie() {
      if (this.$cookies.get("token") != null) {
        return true;
      } else {
        return false;
      }
    }
  }
};
</script>


<style scoped>
.banner {
  display: block;
  margin-bottom: 10px;
  background: #e2e2e2;
}

.banner p {
  line-height: 35px;
}
</style>;