<template>
  <div id="app">
    <Banner :msg='msg'/>
    <router-view/>
    <Footer />
  </div>
</template>

<script>
import Footer from '@/components/Footer.vue'
import Banner from '@/components/Banner.vue'
export default {
  components: {
    Footer,
    Banner
  },
  data() {
    return {
      msg: '',
      msgList: {
        '/home': '主页',
        '': '主页',
        '/user':'个人信息',
        '/room':'选座',
        '/user/order':'订单',
        '/login': "登录"
      }
    }
  },
  created() {
    this.fetchData();
  },
  watch: {
    // 如果路由有变化，会再次执行该方法
    '$route': 'fetchData'
  },
   methods: {
    fetchData () {
      if (this.$cookies.get("token") == null) {
        this.$router.push("/login");
      }
      var re = /\D+/;
      let tmp = this.$route.path.match(re) == null ? '' : this.$route.path.match(re)[0];
      tmp = tmp.endsWith('/') ? tmp.substr(0,tmp.length-1): tmp;
      this.msg = this.msgList[tmp.toLowerCase()];
    }
   }
}
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  max-width: 720px;
  margin: auto;
}

a,a:hover,a:visited{
    text-decoration: none;
    color: #2c3e50;
}

  .cls {
    clear:both;
  }
</style>
